{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Projet</h1>

        <table class="table table-hover">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projet.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ projet.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ projet.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if projet.date %}{{ projet.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nom auteur</th>
                <td>{{ projet.nomAuteur }}</td>
            </tr>
            </tbody>
        </table>
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-info"><a href="{{ path('projet_index') }}">Back to the list</a>
            </button>
            <button type="button" class="btn btn-info"><a href="{{ path('projet_edit', { 'id': projet.id }) }}">Edit</a>
            </button>
        </div>
        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Delete">
        {{ form_end(delete_form) }}

    </div>
{% endblock %}
